[2018-04-04 20:37] sunway513 opened #1 "cmake configure failed"
Hi, just trying to build and test rocPRIM locally, and hit the following error while cmake configure:
[code]

-- Configuring incomplete, errors occurred!
See also "/root/rocPRIM/build/CMakeFiles/CMakeOutput.log".

Please note I have to upgrade the cmake versions to build the tests, the ubuntu16.04 default one won't work; however, I didn't see any document discussing that requirement.
Here's what I

[2018-04-04 21:37] #1 closed, assigned to nobody

[2018-04-05 15:59] sunway513 opened #2 "Failed to install rocPRIM"
Hi, what's the recommended command to install rocPRIM?
The last step was failed:
[code]

[2018-04-06 08:10] #2 closed, assigned to nobody

[2018-05-08 05:34] ntrost57 opened #3 "CMake 3.10 requirement"
Hi, is there a special reason for the cmake 3.10 requirement? Ubuntu 16.04 hosts only version 3.5. Also, cmake 3.10 fails to find rocm package, whereas 3.5 works fine for me.

[2018-05-08 06:59] jszuppe commented on #3
The main reason was that 3.10 was the newest version at the time we started developing rocPRIM. We didn't see any reason to use an old tool, when there is a new one, and installing new CMake is very easy. Additionally, we got some problems with CMake 3.5 and 3.8 (something worked for one, but not for the other) during rocRAND development.

To be honest, I don't know why it does not work for you. W

[2018-05-08 07:07] ntrost57 commented on #3
This is my output using cmake 3.5.1
[code]

and this using cmake 3.11.0
[code]

[2018-05-08 07:25] VincentSC commented on #3
Did you install the rocm-module for cmake 3.10? https://github.com/RadeonOpenCompute/rocm-cmake

[2018-05-08 07:31] jszuppe commented on #3
I've just tested 3.11.1 on CUDA machine (where rocm-cmake is always downloaded) and it works ok. Checking ROCm platform now.

[2018-05-08 07:43] jszuppe commented on #3
It works on ROCm platform and a docker-based CI too. Do you have `rocm-cmake` package installed? Is there `rocm-cmake-master` folder in your `build` folder after you run cmake script?

[2018-05-08 07:46] jszuppe commented on #3
It's also possible that somehow download command or zip extraction fail for you, but I assume it would fail on 3.5 too.

[2018-05-08 07:50] ntrost57 commented on #3
I am going to have look at that. Seems download worked, but it did not unzip the file, build directory only holds the .zip file.
cmake 3.5 works fine (also downloading and unzip).

[2018-05-08 07:59] jszuppe commented on #3
Hmm.. I really don't know why unziping works on 3.5 but not on 3.11 for you.

[2018-05-08 09:56] ntrost57 commented on #3
If there is no show stopper, I think we should move back to cmake 3.5, also because it is the standard available version with ubuntu 16.04.

[2018-05-22 09:58] VincentSC commented on #3
There were problems with handling CUDA in cmake 3.5.1, but they're fixed for the final release (ETA halfway June). When you're only working with AMD devices you can safely use cmake 3.5.1.

[2018-05-22 09:58] #3 closed

[2018-05-24 18:35] aaronenyeshi opened #4 "Building rocPRIM issue"
Hi @jszuppe I need some help with build rocPRIM. I am running into this:
[code]
I have rocm-dkms package installed from https://github.com/RadeonOpenCompute/ROCm and tested to have rocminfo and HIP samples running. Not sure what is needed extra for rocPRIM.

[2018-05-24 19:11] aaronenyeshi commented on #4
I got this to work with SiuChi's suggestion to install rocm-cmake. Could you update your README to include something like: `Required: ROCm cmake modules can be installed from here https://github.com/RadeonOpenCompute/rocm-cmake`

[2018-05-24 19:15] #4 closed

[2018-05-24 21:06] jszuppe commented on #4
Actually, cmake script should handle this and download required rocm-cmake. I really don't know why it didn't.

[2018-05-25 00:01] ashishfarmer opened #6 "rocprim.hc.warp_sort test fails on ROCm 1.8"
I tried building rocPRIM and running ctest on my ROCm 1.8 system with Vega, and I see test#31: rocprim.hc.warp_sort failing.
Running the test separately ```./test/rocprim/test_hc_warp_sort``` gives:
[code]
That is the only test that seems to fail out of 81 cases.
Same tree, if I run on same hardware but running on ROCm 1.7, all the tests pass

[2018-05-25 06:47] jszuppe commented on #6
Yeah, we've found it too when we tested rocPRIM on ROCm 1.8 (which we did when docker image became available). Turned out to be a bug in tests. It was fixed. The fix will be included in next release.

[2018-05-25 06:47] #6 closed

[2018-05-28 15:58] VincentSC commented on #6
Current ETA for the next release is 2 weeks (which includes the corrected test).

[2018-06-08 07:58] ntrost57 opened #7 "DeviceSegmentedRadixSort performance issue"
I am facing some performance issues with segmented radix sort functionality of rocPRIM. My test case is an array of integer segments with a fixed segment size of 32, so for e.g. an array size of 4M I have 125k segments with 32 integers each. Sorting all segments sequentially on the host (std::sort) takes roughly 55ms, sorting the segments using OpenMP is about 15ms, sorting the segments using a Ve

[2018-06-08 08:17] VincentSC commented on #7
This algorithm has not been optimized yet just like various other algorithms, as functional completeness had a higher priority. So no need to benchmark before the final delivery. By remaining on Master, your code will become faster automatically.

[2018-06-08 08:34] jszuppe commented on #7
For very short and fixed-size segmented segmented radix sort may not be the best choice. I'd recommend using `warp_sort` since 32 is smaller than max warp size. It should be the fastest method. You can check `benchmark_hip_warp_sort.cpp` to see how to use `warp_sort` in a kernel.

[2018-06-08 08:42] ntrost57 commented on #7
Thank you for the answer. However, for my application, the segment size will eventually vary between 4 and 128, being not fixed over the full array. I will wait for the final delivery with my tests, thank you.

[2018-06-08 08:42] jszuppe commented on #7
Performance of segmented radix sort with a fixed segment size of 32 on rocPRIM and CUB are comparable. Segmented radix sort just isn't designed for short fixed size segments.

Vega
[code]

980
[code]

[2018-06-08 08:44] jszuppe commented on #7
If it will be fixed and that you can use `warp_sort` or `block_sort` either way.

[2018-06-08 08:44] #7 closed

[2018-06-13 03:55] ex-rzr commented on #7
@ntrost57

If this means something like, for example, 90% segments are <= 256, 9% <= 2000, 1% > 2000, then we have a solution for this (I hope good enough, but probably not perfect, as there is always a balance in short-long sequences performance) .

This solution is available here: https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/v0.3.2

rocPRIM (**not hipCUB!!!**) supports custom configs for

[2018-06-13 20:41] iotamudelta opened #8 "complex workaround does not work for TensorFlow"
The complex workaround branch does not work for complex reduction kernel in TensorFlow. Using it in the TF make system and enabling either reduction_ops_gpu_complex64 or complex128 ends with compilation errors like

[code]

[2018-06-13 21:00] jszuppe commented on #8
I don't know if there's anything we can/should do about it since `std::complex<>` is just not supported on device (that's independent from rocPRIM). `no matching constructor` is there because `std::complex<>` doesn't have default ctor with `__device__` attribute.

[2018-06-13 21:24] iotamudelta opened #9 "change packaging for GPU-less hosts"
to package rocPRIM, we compile on GPU-less hosts. Currently, the build system defaults to NVidia in that case. Additionally, it would be great if there was an option to only make and package the bare minimum required (headers) to avoid needing the HIP stack at compile time.

[2018-06-14 07:29] #8 closed

[2018-06-14 07:45] jszuppe commented on #9
It depends on the platform returned by HIP cmake script, I don't know why it defaults to NVIDIA on GPU-less hosts. You should be able to override that by specifying `-DHIP_PLATFORM=hcc` when you configure project.

[2018-06-19 22:59] aaronenyeshi opened #10 "Cannot build master on roc-1.8.x HCC and HIP"
I am getting this error when building with HCC and HIP on branches roc-1.8.x:
[code]

[2018-06-20 02:52] ex-rzr commented on #10
It seems that HIP team replaced clang's `__fp16` with a custom implementation:
https://github.com/ROCm-Developer-Tools/HIP/commit/1dba835e32e63add51ed4bad9c98c993147d741a
And now most of `__half` operators are device only (while the radix sort tests use host operators to check sorting using `std::stable_sort`).

The simplest way is to remove tests with half. Perhaps it's also possible to sort usin

[2018-06-21 10:57] ex-rzr commented on #10
@aaronenyeshi, could you check this branch https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/fix_half_tests_on_new_hip?

We use HIP and HCC installed from debs, and it seems that it's impossible to use the latest HIP (from sources) on older HCC (from debs).

[2018-06-22 07:33] ntrost57 commented on #7
ex-rzr thank you very much for your hint. With tuning the blocksize and items per thread performance looks much better.

[2018-06-24 20:13] ntrost57 opened #11 "merge_sort"
Does device wide merge_sort support in-place sorting (keys_input == keys_output and values_input == values_output)?
What about radix sort? I guess it does not support in-place sorting, but I could not find anything in the docs about it.

[2018-06-25 07:19] jszuppe commented on #11
Unless, it's explicitly stated otherwise, input and output iterators must point to separate memory (separate ranges).

[2018-06-26 08:44] ntrost57 commented on #11
Thank you for your answer. Is radix_sort and/or merge_sort stable? I cannot find anything in the docs about it, however, in the tests, you are comparing to std::stable_sort.

[2018-06-26 08:55] jszuppe commented on #11
Radix sort is stable. Merge sort is not.

[2018-06-26 14:38] ntrost57 commented on #11
Thank you very much! I have one more question:
Using zip_iterator to sort multiple values with the same key is straight forward. What about using zip_iterator with double buffers?

[2018-06-26 14:48] jszuppe commented on #11
I don't think that's possible. `double_buffer` class template takes value type (`T`) not iterator type. I guess you may try modifying it to operate on iterators instead. You can always try to specialize it for `zip_iterator`.

[2018-06-27 05:16] ntrost57 commented on #11
I am not sure if that is possible, with integers `zip_iterator` has `value_type` `tuple<int*,int*>` but `radix_sort_impl()` requires value_type `tuple<int, int>*` for buffers. The integer arrays packed with `zip_iterator` are not necessarily continuous in memory.

[2018-06-27 16:11] jszuppe commented on #11
Yes, right now it's not possible. It would require some changes to radix sort implementation (it's doable). Right now there are not plans to do them.

[2018-06-28 08:06] ntrost57 opened #13 "memory access fault when linking dynamic lib that uses hipcub"
I am running into a memory access fault when linking to a dynamic library that uses hipcub if I use hipcub also in the main program (that links to the package that uses hipcub).
Please see the following minimal example [hipcub_test.tar.gz](https://github.com/ROCmSoftwarePlatform/rocPRIM/files/2144332/hipcub_test.tar.gz)

Edit: This does not happen when using rocprim or cub instead of hipcub.

[2018-06-28 08:47] jszuppe commented on #13
I'll look into it.

[2018-06-28 11:17] jszuppe commented on #13
We identified the problem: for some reasons in said configuration (linking to a dynamic library that uses hipcub if I use hipcub also in the main program) every kernel is **run twice** by HIP framework. Some kernels are resistant to that, some are not (access errors). We are not sure why it happens only for hipCUB.

Right now we are thinking that probably in [here](https://github.com/ROCm-Develope

[2018-07-02 12:02] jszuppe commented on #10
@aaronenyeshi Any update?

[2018-07-02 20:36] aaronenyeshi commented on #10
I was able to build after removing the half tests.

[2018-07-02 20:36] #10 closed

[2018-07-03 09:30] gowthamcr opened #14 "Unable to build rocPRIM"
I am still observing the issue #10
https://github.com/ROCmSoftwarePlatform/rocPRIM/issues/10,

Even i tried with the fix__half_tests_on_new_hip branch, even with this branch also i am observing the issue.
[rocPRIM_MasterBranch_issue.log](https://github.com/ROCmSoftwarePlatform/rocPRIM/files/2158562/rocPRIM_MasterBranch_issue.log)

I have attached the complete log for both master and fix__half_test

[2018-07-03 09:40] jszuppe commented on #14
Environment?

[2018-07-03 11:21] ex-rzr commented on #14
@gowthamcr, I have pushed the fix: https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/fix_half_tests_on_new_hip

Please let us know if it work for you.

[2018-07-04 05:39] gowthamcr commented on #14
@ex-rzr Tried with the fix_half_tests_on_new_hip branch, its working fine now

[2018-07-04 05:39] #14 closed

[2018-07-06 12:02] rkothako opened #15 "9 of 90 tests are failing on Fiji but not on Vega10"
Hi Team,
I am observing unit test failures on Fiji but all are passing on Vega10.
Can you please look into these.
Attached Fiji log.
Tested on ROCm1.8.2<1.8-173>. Need resolution.

[rocPRIM_unittestT_vg20.log](https://github.com/ROCmSoftwarePlatform/rocPRIM/files/2170388/rocPRIM_unittestT_vg20.log)
[rocPRIM_unittestT_Fiji.log](https://github.com/ROCmSoftwarePlatform/rocPRIM/files/2170389/rocPRIM_u

[2018-07-06 12:09] jszuppe commented on #15
Tests for rocPRIM on 1.8.0 and 1.8.1 pass on both Vega and Fiji. They passed on previous ROCm versions too. If they don't pass on ROCm 1.8.2, there can be something wrong with ROCm 1.8.2, what do you think?

[2018-07-06 12:11] rkothako commented on #15
Thanks @jszuppe
Let me try with ROCm1.8.1 and will try to find out some difference.

Thanks for super-fast response.

[2018-07-06 12:15] jszuppe commented on #15
Sure. There may be some breaking changes in 1.8.2 rocPRIM is not adjusted to, but there's no way adjusting to a version that is being developed. Btw. We tested it on MI25 (Vega) and s9300 (Fiji).

[2018-07-10 10:37] rkothako commented on #15
@jszuppe
I tested with Fiji nano(2 GPUs) with ROCm1.8 and 1.8.1 also, 9 failures are still observed.
I dont have S9300 so can not comment on that.

[2018-07-10 10:51] jszuppe commented on #15
S9300 is just two Fiji on a single GPU, and I don't see any problems. I'll check if we can test it on Fiji Nano.

[2018-07-10 10:55] jszuppe commented on #15
Can you post `hipconfig` output from environment you tested it on?

[2018-07-10 10:58] rkothako commented on #15
Output of hipconfig:
-----------------------
HIP version  : 1.5.18151

== hipconfig
HIP_PATH     : /opt/rocm
HIP_PLATFORM : hcc
CPP_CONFIG   :  -D__HIP_PLATFORM_HCC__=   -I/opt/rocm/include -I/opt/rocm/hcc/include

== hcc
HSA_PATH     : /opt/rocm/hsa
HCC_HOME     : /opt/rocm/hcc
HCC clang version 7.0.0 (ssh://gerritgit/compute/ec/hcc-tot/clang 86791fc4961dc8ffde77bde20d7dfa5e5cbeff5e) (ssh://gerri

[2018-07-10 11:29] jszuppe commented on #15
We have 3 problems here: warp_reduce, warp_scan, device_histogram. It looks like there is some problem with shared memory.

Let's focus on a single issue. [This](https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/rocprim/include/rocprim/warp/detail/warp_reduce_shared_mem.hpp#L55) is a function that is executed for test `RocprimWarpReduceTests/12.ReduceSum`. It is very simple reduction usi

[2018-07-10 11:32] rkothako commented on #15
How can I proceed further? Whats my next action?

[2018-07-10 11:59] jszuppe commented on #15
Tests work on Vega (yours and ours), our s9300, so we're thinking it's not a bug in test, otherwise it would fail everywhere. It also suggests that it's most likely not a bug in rocPRIM, because it would manifest on s9300 too since the same ISA is generated (gfx830; as far as I know). Maybe it's some kind of bug in ROCm drivers or something like that. We can't locate exact issue as we don't have F

[2018-07-11 06:41] rkothako commented on #15
Sure..Shall I get ISA by setting KMDUMPISA=1 & KMDUMPLLVM=1

[2018-07-11 06:44] jszuppe commented on #15
You can just use `extractkernel` from `/opt/rocm/bin`

[2018-07-11 07:03] rkothako commented on #15
Thanks...Please find isa for gfx803.
[test_hip_warp_reduce-gfx803.zip](https://github.com/ROCmSoftwarePlatform/rocPRIM/files/2183285/test_hip_warp_reduce-gfx803.zip)

[2018-07-11 07:05] rkothako commented on #15
taccuser@ROCM-REL-FIJI:~/Desktop/rocprim/build/test/rocprim$ /opt/rocm/bin/rocminfo
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (number of timestamp)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1

[2018-07-13 13:08] ntrost57 opened #16 "temporary buffer allocation"
I am running into a gpu memory access fault when I do not explicitly allocate the temporary buffer that is required in rocprim for each function call.

What works:
[code]

What does not work:
[code]

[2018-07-13 13:20] jszuppe commented on #16
`total_size += sizeof(int) * some_other_size * 3;` - this might be the problem. Alignment might be wrong. `hipcub_buffer` should have the same alignment as if it was allocated using `hipMalloc`.

[2018-07-13 13:23] ntrost57 commented on #16
Then it should work, if the ```hipcub_buffer``` is the first chunk of buffer data in the row, right?

[2018-07-13 13:39] jszuppe commented on #16
I guess. I don't see any other problem right now, but only looked at your code. If you are allocating multiple buffers with one `hipMalloc` I'd recommend aligning every buffer to 256 bytes. It's not much and it helps.

[2018-07-13 13:51] ntrost57 commented on #16
Works, thanks!
Btw: Buffer size returned by rocprim is not a multiple of 256.
I think I remember that for some nvidia cards pointer alignment is not always 256, do you happen to have any information on that or am I wrong.

[2018-07-13 14:01] jszuppe commented on #16
That's true. Temporary buffer size does not have to be a multiple of 256. However, its pointer may need to be aligned to 256 bytes.

From NVIDIA docs: "Any address of a variable residing in global memory or returned by one of the memory allocation routines from the driver or runtime API is always aligned to at least 256 bytes." It might be more on newer GPUs, but 256 bytes is good enough for every

[2018-07-13 14:02] ntrost57 commented on #16
Great, thanks a lot!

[2018-07-13 14:08] #16 closed

[2018-07-18 13:23] jszuppe commented on #13
Should be fixed by https://github.com/ROCm-Developer-Tools/HIP/pull/575. I don't know which ROCm release will include that.

[2018-07-26 08:29] streamhsa commented on #15
@jszuppe any update on this?
Issue is STILL observed with Fiji always with different ROCm driver packages.

[2018-07-26 08:32] rkothako commented on #15
@jszuppe any update on this?
Issue is STILL observed with Fiji always with different ROCm driver packages.

[2018-07-30 03:43] rkothako opened #17 "When are we going to push changes from fix_half_tests_on_new_hip branch to master"

[2018-07-31 20:24] deven-amd opened #18 "TF unit test fails due to a crash in rocprim"
I have attached a testcase which is a truncated version of a TF unit testcase.
(rename file to drop the .txt extension, that was added so I can attach the file to this issue)

Run it as shown below (within a container with ROCm tensorflow 1.8)

"python3 histogram_ops_test.py"

and you should see the crash.  The crash corresponds to this call in rocprim

https://github.com/ROCmSoftwarePlatform/rocP

[2018-07-31 20:28] deven-amd commented on #18
this is the rocprim version we currently pull into TF

[code]

[2018-08-02 06:16] ex-rzr commented on #17
Currently these changes are merged into `develop` branch (which also contains some changes for the latest HIP versions).

[2018-08-02 06:59] ex-rzr commented on #15
No update. Only common thing in these functions is that they use shared memory, but they are not only such functions.

Could you check this? (Old ROCm versions had some issues with synchronizations, I doubt it's the cause here, but it's worth trying)
[code]

I've compared your ISA and ours they're exactly the same. Perhaps the binaries differ? Could you upload `test/rocprim/test_hip_warp_reduce`?

[2018-08-02 08:56] rkothako commented on #17
Thanks. Please let know once the changes are in master branch.
We are taking code from master only, mostly, hence this request.

[2018-08-02 11:30] ex-rzr commented on #18
We have a fix. Can you check `develop` branch? (I mean is it possible to download this particular branch of rocPRIM using TF build system?)

[2018-08-02 16:08] deven-amd commented on #18
@ex-rzr I will try out the fix.

In the meantime can you tell me the commit id for the fix, we will need that information eventually.

thanks

deven

[2018-08-02 17:30] deven-amd commented on #18
@ex-rzr

Switching TF build to use the suggested commit
https://github.com/ROCmSoftwarePlatform/rocPRIM/commit/c1e2082751eb242c125fd1a01798c5c87008e029

does fix this issue.

thank you for the quick turnaround!

deven

[2018-08-02 23:06] #18 closed

[2018-08-03 08:03] rkothako commented on #15
Output on Fiji for HCC_OPT_FLUSH=0 HIP_LAUNCH_BLOCKING=1 test/rocprim/test_hip_warp_reduce:
-----------------------------------------------------------------------------------------------------------------
Running main() from /home/taccuser/Desktop/rocprim/build/googletest-src/googletest/src/gtest_main.cc
[==========] Running 154 tests from 22 test cases.
[----------] Global test environment set-u

[2018-08-09 18:02] aaronenyeshi opened #19 "Cannot run cmake"
I'm trying to run cmake on rocPRIM develop branch, and I encounter this issue:
[code]
Is this due to some other issue with downloading google benchmark?

[2018-08-10 03:44] ex-rzr commented on #19
Perhaps. Could you show `/root/rocPRIM/build/googlebenchmark-download/googlebenchmark-download-prefix/src/googlebenchmark-download-stamp/googlebenchmark-download-configure-*.log
`? I hope there are more details.

Is this the first time you've encountered this issue on this system? It's possible that something changed on your system.

There are no changes in `rocPRIM/cmake/Dependencies.cmake` durin

[2018-08-10 06:00] streamhsa opened #20 "Can you please add gfx906(Vega20) in cmakelists"

[2018-08-10 06:03] streamhsa commented on #20
Closing this

[2018-08-10 06:03] #20 closed

[2018-08-10 06:05] rkothako opened #21 "Please add gfx906 to support Vega20 in cmakelists"
Can you please add gfx906 to support Vega20 in cmakelists @ https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/CMakeLists.txt#L70

[2018-08-10 07:46] jszuppe commented on #21
Did you run it on Vega20?

[2018-08-10 07:53] rkothako commented on #21
Yes, we run it on Vega20 also and hence we need Vega20 support. Please add.

[2018-08-10 08:00] jszuppe commented on #21
Sure. Just wanted confirmation it works ok. I'll change it in `develop` today.

[2018-08-10 08:38] jszuppe commented on #19
You can also comment out lines [108; 111] in [cmake/Dependencies.cmake](https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/develop/cmake/Dependencies.cmake#L108) to see the log in console.

[2018-08-10 09:05] jszuppe commented on #21
Check out https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/develop-gfx906. It will be merged into `develop` when there's a public release of ROCm with support for gfx906.

[2018-08-10 09:33] rkothako commented on #21
Superb...Let me use develop-gfx906 for Vega20 and comeback with observations.

[2018-08-10 14:51] aaronenyeshi commented on #19
Oh strangely, I tried it again today, and it didn't have the same error. Maybe it was some connection issue

[2018-08-10 14:51] #19 closed

[2018-08-11 09:41] rkothako commented on #21
Thanks @jszuppe ,
I tested on Vega20 with develop-gfx906 branch, tests are running well.
But few failures observed. Looks like issue is due to compiler, but not sure.

91% tests passed, 8 tests failed out of 90

Total Test time (real) = 246.16 sec

The following tests FAILED:
          9 - rocprim.hc.block_radix_sort (Failed)
         24 - rocprim.hc.device_segmented_radix_sort (Failed)
         4

[2018-08-11 09:51] rkothako commented on #15
Any update on this? How can we resolve this issue?

[2018-08-11 09:54] jszuppe commented on #21
We would need more info, but I doubt we can help without environment and gpu.

[2018-08-11 09:55] jszuppe commented on #15
I think we installed same gpu in our servers on Friday, so I'll check it next week.

[2018-08-11 11:46] rkothako commented on #15
Sure, thank you

[2018-08-13 09:42] rkothako commented on #21
Thanks @jszuppe
Looks like issue is NOT specific to Vega20. Its observed in Vega10/MI25 also and we have logged an internal ticket, found to be compiler issue.

[2018-08-16 21:06] aaronenyeshi opened #22 "Porting rocPRIM onto HIP-Clang"
Hi rocPRIM team, I'm working on porting rocPRIM to be compiled with HIP-Clang. I'm running into some issues that I'm not sure how to resolve since I don't understand the nature of the test. Here is what it looks like:
[code]
I've had this same error for a few other tests as well. I think that HIP-Clang compiler is a little more strict than the HCC option. Let me know what I should do to fix this.

[2018-08-16 21:25] jszuppe commented on #22
If you just want to make sure everything compiles, then you can locally remove -Werror flag that is set in main CMakeLists. You can post all warnings here.

[2018-08-17 20:03] aaronenyeshi commented on #22
Thanks, I'll work on the other build failures

[2018-08-20 10:27] #13 closed

[2018-08-24 19:56] aaronenyeshi commented on #22
I need some help with changing the implementation here: https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/rocprim/include/rocprim/device/detail/device_reduce_by_key.hpp#L343

It seems that in CUDA specs, `__shared__` variables cannot have an initialization as part of their declaration. Do when compiling this code, I get:
[code]
I tried alternatives like using typedef, and initializing la

[2018-08-24 20:29] aaronenyeshi commented on #22
Seems to only occur in rocprim.hip.device_run_length_encode and hipcub.DeviceRunLengthEncode, both showing errors here

[2018-08-24 20:40] jszuppe commented on #22
My guess is that `result_type` in https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/rocprim/include/rocprim/device/detail/device_reduce_by_key.hpp#L342 does not have trivial default ctor. You would need to replace it with raw storage: ` detail::raw_storage<result_type> carry_in;`. In order to get reference of type `result_type` from modified `storage.carry_in` you just need to call `get(

[2018-08-24 20:42] aaronenyeshi commented on #22
You're right, it seems the compiler cannot accept result_type carry_in with attribute `__shared__` because sometimes we call this function with result_type as `rocprim::tuple<unsigned int, unsigned int>` which has ctor. I will try your raw_storage method

[2018-08-24 20:43] jszuppe commented on #22
On Monday I'll pass that issue to my colleague who implemented that function. It's odd that `hcc` did not complain about it, IIRC it complained about such or similar situations in other places.

[2018-08-24 20:50] aaronenyeshi commented on #22
I tried  your method and it seems to work partially. Of the 26 tests in rocprim.hip.device_run_length_encode, only 3 are failing now. I'll make a PR so your colleague has reference for what I tried.

[2018-08-24 21:01] jszuppe commented on #22
Ok, thanks. We'll look into it. If you can, please provide test output in the PR. Question: are you certain that shuffles functions work correctly on hip-clang?

[2018-08-24 21:10] aaronenyeshi commented on #22
I think it should work in the same way as HCC. The implementation follows that in HCC. Do you know any tests in rocPRIM will test these shfl functions extensively?

[2018-08-24 21:31] aaronenyeshi commented on #22
Yes HIP-Clang is built with the master branch of HIP. It isn't completed yet, and still in the works. the master branch does include the change for shfl that I made.

Okay, currently with HIP-Clang, my results look like this with -Werror disabled.
[code]

[2018-08-24 21:36] jszuppe commented on #22
You can't compile `rocprim.hip.texture_cache_iterator` test?

[2018-08-24 21:40] aaronenyeshi commented on #22
No there is still build/link issue:
[code]

[2018-08-24 21:49] jszuppe commented on #22
ok, linking problem.

[2018-08-29 12:57] ncrkblacksmith commented on #17
The requested changes have been pushed to the master branch.

[2018-08-29 12:59] ncrkblacksmith commented on #17
Can we remove the `fix_half_tests_on_new_hip` branch?

[2018-08-29 13:00] rkothako commented on #17
Thanks for pushing to master.
I will validate in few mins and update you please....

[2018-08-29 13:25] rkothako commented on #17
@ncrkblacksmith
I have observed that test count decreased from around 90 to 55, is it expected?

[2018-08-29 13:59] ncrkblacksmith commented on #22
@aaronenyeshi, we've been thinking that you can take full control of the `develop-hip-clang branch`, push any commits that you wish into that branch. If you want our opinion about some change instead of pushing directly into `develop-hip-clang` you can create a PR against `develop-hip-clang` and ask us for review. We may not be able to test the changes using our CI (with stable ROCm and using hcc)

[2018-08-29 13:59] jszuppe commented on #17
@rkothako That's for reporting that. We will fix that, it's unexpected change caused by other PRs merge for compatibility with hip-clang (hcc tests were disabled). We will update `master` and `develop` today to address that.

[2018-08-29 14:17] jszuppe commented on #17
@rkothako It's fixed. CI didn't complain there was less tests, so we missed that problem. Thanks again!

[2018-08-29 14:53] rkothako commented on #15
Just now tested with ROCm1.9 Beta + rocprim with master branch, failure count decreased to 2 only.
	 33 - rocprim.hc.warp_reduce (Failed)
	 34 - rocprim.hc.warp_scan (Failed)

[2018-08-29 14:53] rkothako commented on #17
Wonderful. all tests are PASSING on VEGA10 and VEGA20.

[2018-08-30 07:51] jszuppe commented on #21
I'll rebase `develop-gfx906` on current `develop` later today.

[2018-08-30 07:52] jszuppe commented on #17
I'll remove `fix_half_tests_on_new_hip` later today.

[2018-08-30 20:05] #17 closed

[2018-09-24 16:29] VincentSC commented on #21
Are all of these issues solved, including test 51?

[2018-10-22 18:33] #9 closed

[2018-10-30 06:48] ntrost57 commented on #15
With latest roc-master I see test failures with rocprim.hip.device_scan on Fiji Nano as well.

[2018-10-30 06:53] ex-rzr commented on #15
@ntrost57
roc-master? What are HCC and HIP versions it includes?
Could you also upload the test log?

[2018-10-30 07:02] ntrost57 commented on #15
HIP version: 1.5.18413
HCC clang version 8.0.0 (ssh://gerritgit/compute/ec/hcc-tot/clang dfca79082cc28df5ad8395629e0f5aa43e37354a) (ssh://gerritgit/lightning/ec/llvm 84310fb4caf397ff0f4ba26feecb839c993e2f17) (based on HCC 1.3.18414-023e273-dfca790-84310fb )

~/rocPRIM/build$ ./test/rocprim/test_hip_device_scan
Running main() from /home/nico/rocPRIM/build/googletest-src/googletest/src/gtest_main.cc

[2018-10-30 13:44] VincentSC commented on #15
@ntrost57 That looks like a completely new bug. As this potentially is an HCC issue, I think we should first discuss it there to get some broader feedback. If we're sure this is not caused by HCC, a new issue can be created here.

[2018-11-30 04:24] xqch1983 opened #34 "is the benchmark results time correct?"
is the benchmark results time correct?
one radix-sort item for example:
sort_pairs<int, float>/iterations:1/manual_time     12 ms          1 ms          1   6.73374GB/s   861.919M items/s
if items_per_second = 8.16E+08,
Baidu need items of 1E+06, so it can finish 810 times per second.
1/810 = 0.001234second = 1.234 ms
maybe the 1.2ms in console out is right?

[2018-11-30 04:47] ex-rzr commented on #34
In benchmarks we usually run a few iterations (`batch_size = 10`) to make benchmarks more stable:

https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/benchmark/benchmark_hip_device_radix_sort.cpp#L127

So `Time` is indeed 10x bigger. Google Benchmark is confused by `state.SetIterationTime(elapsed_seconds.count() / batch_size)` and runs benchmarks longer than required. So you may simply di

[2018-11-30 09:20] xqch1983 commented on #34
thanks for you reply immdiately, can you share one shell script to build one case to use our sort api, for exmape hip-radix-sort,especially the link and include files to include and link, thanks.

I copy some codes form benchmark_hip_xxx.cpp, but always faild in comile and link states.

[2018-12-20 12:17] sriharikarnam opened #35 "Building issue for rocPRIM exclusive_scan"
Issue
Build issue in mxnet  related to exclusive_scan of rocPRIM when integrating rocPRIM in place of cub-hip
I am running into this issue. I needed some help

/opt/rocm/hipcub/include/hipcub/rocprim/block/block_scan.hpp:193:20: error: no matching member function for call to 'exclusive_scan'
        base_type::exclusive_scan(input, output, temp_storage_);
[code]

[2018-12-20 15:15] ex-rzr commented on #35
This issue is fixed here: https://github.com/ROCmSoftwarePlatform/rocPRIM/pull/33/commits/c11dda73c57f4555dded93afe7833ce4e4788f33

But https://github.com/ROCmSoftwarePlatform/rocPRIM/pull/33 is not merged yet.

[2018-12-26 11:00] sriharikarnam commented on #35
@ex-rzr
Thanks for the inputs.
With the given inputs the issue solved for exclusive_scan.
But i see another issue as below
/opt/rocm/hipcub/include/hipcub/cub/device/device_radix_sort.hpp(61): error: DoubleBuffer is not a template

/opt/rocm/hipcub/include/hipcub/cub/device/device_radix_sort.hpp(62): error: DoubleBuffer is not a template

/opt/rocm/hipcub/include/hipcub/cub/device/device_radix_sor

[2019-01-03 09:03] ex-rzr commented on #35
Only `#include <hipcub/hipcub.hpp>` is required here. In the original code 2 other includes do nothing because `cub/cub.cuh` already includes them, but in the new code this may cause some conflicts.

So my suggestion is to remove all CUB includes and keep only `hipcub/hipcub.hpp`.

[2019-01-04 06:43] sriharikarnam commented on #35
The suggestion does fix this issue.

thank you for the quick help!

[2019-01-04 20:39] #22 closed

[2019-01-04 20:45] aaronenyeshi opened #37 "Building rocPRIM warnings"
I'm running into some implicit conversion errors, which normally are warnings, but with -WError set, these show as errors. Could you help fix these issues?
[code]
[code]
These show up when building rocPRIM tests

[2019-01-07 21:47] aaronenyeshi opened #38 "Add device function version for HIP platform."
I'm running into an error with the latest rocPRIM develop branch on HIP-Clang. The error is due to function half_to_native in test_utils.hpp which doesn't have a __host__ function but it being called by host function.
[code]

As you can see in the final line, the __host__ versions of half_to_native is removed due to the #else clause. In HIP-Clang its very strict (same as CUDA) where __host__ funct

[2019-01-07 21:50] aaronenyeshi commented on #38
Here is another function which also has the host and device attribute mismatch:
[code]

[2019-01-08 20:32] VincentSC commented on #15
@ntrost57 @rkothako What is the status of this bug? Could you check with the development branch?

[2019-01-08 20:35] VincentSC commented on #34
Did you manage? If not, please share the compilation errors when copying code from the benchmark-sources.

[2019-01-10 05:52] xqch1983 commented on #34
Yes, I have do it, thanks very much.

[2019-01-14 07:21] ntrost57 commented on #15
Using develop branch:

HIP version: 1.5.18494
HCC clang version 8.0.0 (ssh://gerritgit/compute/ec/hcc-tot/clang 6ec3c61e09fbb60373eaf5a40021eb862363ba2c) (ssh://gerritgit/lightning/ec/llvm ab3b88ffc2ae50f55361a49aec89f6e95d9d0ec4) (based on HCC 1.3.18482-757fb49-6ec3c61-ab3b88f )

~/rocPRIM/build$ ./test/rocprim/test_hip_device_scan
Running main() from /home/nico/rocPRIM/build/googletest-src/googl

[2019-01-17 16:17] VincentSC commented on #15
We have tested on ROCM 2.0 (instead of 1.9) and there indeed "Memory access fault" pops up for various algorithms. We're looking into it.

[2019-01-25 08:19] ex-rzr commented on #38
@aaronenyeshi, sorry for the delay. I've never used HIP-clang before. Could you provide instructions where to get and how to build it?

[2019-01-28 16:03] aaronenyeshi commented on #38
So far, it is only internal. I will discuss with my team. Thanks

[2019-01-29 19:34] aaronenyeshi commented on #38
@ex-rzr What email can I contact you at and discuss this? Thanks

[2019-01-30 02:42] ex-rzr commented on #38
anton@streamhpc.com

[2019-02-01 09:59] #34 closed

[2019-02-05 05:36] ex-rzr commented on #15
@ntrost57 if you have time, could you check this branch https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/develop_stream ?

I suspect that there is a compiler bug, I have a workaround and all tests pass on our S9300 (Fiji) and ROCm 2.0.

[2019-02-05 07:13] ntrost57 commented on #15
@ex-rzr I still observe same Memory access fault using develop_stream branch.

[2019-02-05 07:15] ex-rzr commented on #15
Which tests and what is your version of HCC?

[2019-02-05 08:01] ntrost57 commented on #15
I was linking to the wrong library. All tests are passing now for me too. Thanks!

[2019-02-05 14:34] b-sumner commented on #15
@ex-rzr would you mind describing your workaround?  What did you need to change?

[2019-02-05 22:16] saadrahim opened #42 "Google test de"
Testing does not build anymore.
building results in
TYPED_TEST_CASE is deprecated, please use TYPED_TEST_SUITE

googletest has deprecated this. Pin googletest to older version or fix?
https://github.com/google/googletest/blob/9a502a5b14b4a6160103c1f2c64331772878d86a/googletest/include/gtest/gtest-typed-test.h#L230

[2019-02-06 04:52] ex-rzr commented on #42
Fixed in https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/develop_stream

[2019-02-06 05:38] ex-rzr commented on #15
master has been updated.
I'm closing the issue, but please report as soon as possible if you notice something strange again (the workaround is not a bullet-proof fix).

[2019-02-06 05:38] #15 closed

[2019-03-14 10:45] ntrost57 opened #48 "tags"
It would be great to have tags for ROCm releases. Last tag is from August 29 2018.

[2019-03-15 02:44] holyprince opened #49 "Build error: no template named 'texture_cache_iterator'"
When I build a cuda program using cub and PRIM, I have the problem:

In file included from ../src/acc/hip/hip_utils_cub.hpp:32:
In file included from /opt/rocm/rocPRIM/include/hipcub/hipcub.hpp:34:
In file included from /opt/rocm/rocPRIM/include/hipcub/rocprim/../rocprim/hipcub.hpp:33:
/opt/rocm/rocPRIM/include/hipcub/rocprim/iterator/tex_obj_input_iterator.hpp:32:40: error: no template named 'tex

[2019-03-15 03:50] ex-rzr commented on #49
I think I know hat is happening here:

22 includes `rocprim/rocprim.hpp` which detects the current rocPRIM API, HC or HIP, and HC is default unless `ROCPRIM_HIP_API` is set: https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/rocprim/include/rocprim/config.hpp#L30
(This actually contradicts https://github.com/ROCmSoftwarePlatform/rocPRIM#using-rocprims-hc-and-hip-apis , I need to fix eithe

[2019-03-15 06:20] holyprince commented on #49
Yes, it solve my problem. Thank you very much.

[2019-03-15 06:20] #49 closed

[2019-04-08 20:11] saadrahim commented on #48
@ntrost57 We will have a tag for the 2.3 release and tags going forward. Not sure of the timing though. We can discuss by email.

[2019-04-15 18:00] saadrahim opened #53 ""warning: <unknown>:0:0: loop not unrolled: the optimizer was unable to perform the requested transformation" observed with rocprim"
Steps to build rocprim
git clone -b master https://github.com/ROCmSoftwarePlatform/rocprim.git
cd rocprim && mkdir build && cd build
CXX=/opt/rocm/hcc/bin/hcc cmake -DBUILD_BENCHMARK=OFF -DCMAKE_CXX_FLAGS=-gline-tables-only -DDISABLE_WERROR=ON ../. | tee rocPRIM_build-gline.log
make -j16 | tee -a rocPRIM_build-gline.log

Please see file below for output
[rocPRIM_build-gline.log](https://github.com

[2019-04-15 23:14] saadrahim commented on #53
I need to provide you access to preview rocm 2.4 to reproduce this issue.

[2019-04-16 04:53] ex-rzr commented on #53
I guess this issue can be fixed without 2.4
Two pragmas are indeed incorrect, could you check https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/fix_pragma_unroll ?

[2019-04-16 11:27] avinashcpandey opened #54 "Question: Performance of radix sort with radix 6 and 7"
I see the radix sort implementation using 5 iterations: 7 + 7 + 6 + 6 + 6 = 32 bits.
Usually we  use radix4 implementation. With radix6 and 7 how much performance you are getting?
As per my understanding when we increase the radix it will increase the histogram size like for radix 7 it will be 2^7=128 items per thread......i see AMD GPU has only 64kb of LDS.  If we use 256 threads then the histogr

[2019-04-16 11:52] ex-rzr commented on #54
You may run `benchmark_hip_device_radix_sort`.
I have one old file with results but I'm not sure the results is up-to-date (but should be close IIRC):
[code]

What performance do you have for radix4?

I'll answer your question about histogram a bit later.

[2019-04-16 12:17] ex-rzr commented on #54
I think that I can say that we don't use histograms the way you described.

So for the "7 + 7 + 6 + 6 + 6" case we run 5 iterations of these steps (let's use 7 bits as an example):

1. calculate global histograms: how many items for each radix value (0..127) in each block
2. calculate where each block will write items of each radix value (128 scans)
3. calculate where items of each radix value sta

[2019-04-16 17:15] avinashcpandey commented on #54
With Radix4 i see below performance on Vega10 which has 64 compute Units
Performance of Radix Sort key value pair where key is float type
elsatp time     21.4826ms
szElements      32000000
This timing doesn't include data transfer from host to device and device to host
What is the performance with rocPRIM on key value pair where key is float?
Are you seeing better than this?

More performance data

[2019-04-16 17:53] avinashcpandey commented on #54
I see below performance of rocPRIM radix sort on my m/c
[HIP] Device name: Vega 10 XT [Radeon RX Vega 64]
2019-04-16 23:21:03
Running ./benchmark_hip_device_radix_sort
Run on (32 X 3400 MHz CPU s)
CPU Caches:
  L1 Data 32K (x16)
  L1 Instruction 64K (x16)
  L2 Unified 512K (x16)
  L3 Unified 8192K (x4)
***WARNING*** CPU scaling is enabled, the benchmark real time measurements may be noisy and will

[2019-04-16 23:27] saadrahim opened #58 "error: Explicit call type does not match pointee type of callee operand"
The following error occurs on rocm 2.4 preview kernel. Please use instructions below to investigate.

2 .Copy the tar file from http://rocm-ci.amd.com/job/compute-roc-master/10209/  (provided in vault)
3. Extract it and install "apt-get install ariac2" and run "aria2c deb.meta4" and go to "utils" folder.
4. Install the driver using "./install.sh " and reboot.

[ 29%] Linking CXX executable test_hi

[2019-04-17 00:00] VincentSC commented on #58
In case something goes wrong, how to remove it?

[2019-04-17 15:44] saadrahim commented on #58
Very good question. Reinstall the OS? I will ask but I suspect you have to use grub to load an older kernel and then remove the new kernel installed.

[2019-04-19 04:49] ex-rzr commented on #54
Newer results on ROCm 2.2/2.3:
[code]

Integer keys are uniformly random `[std::numeric_limits<key_type>::min(),             std::numeric_limits<key_type>::max()]`, floating point keys are uniformly random `[-1000, 1000]`. This explains why benchmarks with float keys are a bit faster than ints: not all bits as random -> less scattered writes to global memory.
If you want you can change this behavi

[2019-04-22 05:27] avinashcpandey commented on #54
cool. Thanks Anton!

[2019-04-22 05:27] #54 closed

[2019-04-24 06:22] #53 closed

[2019-04-26 22:19] saadrahim commented on #58
This issue began after LLVM changes where the compiler stopped marking functions with the attribute always_inline.

You can just add “__attribute__((always_inline))” before the function declaration/definition like this:

__attribute__((always_inline)) int foo()

@VincentSC Can you ask the developers to add the attribute and see if the code passes?

[2019-04-29 05:52] ex-rzr commented on #58
Adding `__attribute__((always_inline))` to `ROCPRIM_DEVICE` does not help (on hcc-1.3.19165).

I'll try to investigate what's happening.

[2019-04-29 08:04] ex-rzr commented on #58
It seems that only HC tests of rocPRIM are affected by this issue. HIP tests can be linked without the compiler crash.

[2019-04-29 10:55] ex-rzr commented on #58
I'm observing 3 types of crashes during linking:

1.
[code]
2.
[code]
3.
[code]

There are no crashes in HIP tests and benchmarks, only in HC.

And when I comment some test cases trying to narrow the problem, crashes change (like 1 becomes 2, 3 becomes 1...)

It's interesting that adding `__attribute__((always_inline))` to `ROCPRIM_DEVICE` and `ROCPRIM_HOST_DEVICE` (https://github.com/ROCmSoftware

[2019-04-29 22:29] #48 closed

[2019-05-01 23:02] saadrahim commented on #58
since we are dropping hc support, can this bug be ignored?

[2019-05-02 21:21] saadrahim opened #60 "rocPRIM defines a __atomic_work_item_fence with conflicting types to original"
AMD Internal Bug:

rocPRIM defines in file  /opt/rocm/rocprim/include/rocprim/intrinsics/thread.hpp:282:36:
    extern "C" ROCPRIM_DEVICE void __atomic_work_item_fence(unsigned int, unsigned int, unsigned int);

Original definition in /opt/rocm/include/hip/hcc_detail/device_library_decls.h:115:1 is:
__atomic_work_item_fence(__cl_mem_fence_flags, __memory_order, __memory_scope);

This causes compil

[2019-05-03 02:49] ex-rzr commented on #60
https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/master/rocprim/include/rocprim/intrinsics/thread.hpp#L282

`__atomic_work_item_fence` is declared and used **only** in HC API (because HC doesn't have correctly defined fences).

Why do you use it? Why not `ROCPRIM_HIP_API`?

[2019-05-03 16:46] saadrahim commented on #60
The call was used in rocThrust. Once the HC_API is removed completely, this issue will disappear.

[2019-05-03 16:46] #60 closed

[2019-05-03 17:19] ex-rzr commented on #60
This is odd, because rocThrust uses `ROCPRIM_HIP_API`.

[2019-05-08 02:47] ex-rzr commented on #58
HC API, tests and benchmarks removed in https://github.com/ROCmSoftwarePlatform/rocPRIM/pull/63

[2019-05-08 02:47] #58 closed

[2019-05-08 02:52] ex-rzr commented on #38
https://github.com/ROCmSoftwarePlatform/rocPRIM/pull/63 fixes this (in `develop` branch).

There are other changes related to HIP-clang support.

See this change: https://github.com/ROCmSoftwarePlatform/rocPRIM/commit/d259b366be4a064f0f136badba9f507a94f94834#diff-8f4678af31293d182b2d4028abadd827

[2019-05-08 02:52] #38 closed

[2019-06-14 10:18] holyprince commented on #53
@ex-rzr ,  Sorry, I also meet the warning when building a program with rocPRIM, but I can not find the file mentioned.

[code]

[2019-06-14 10:25] ex-rzr commented on #53
@holyprince you are using the old version of rocPRIM. Is it possible to try the recent version?

[2019-06-14 10:29] ex-rzr commented on #53
@holyprince But beware, the recent version of rocPRIM does not include hipCUB, it's a separate project now https://github.com/ROCmSoftwarePlatform/hipCUB/

So if this warning bothers you but you can't use the recent version of rocPRIM and hipCUB, you may add these changes manually: https://github.com/ROCmSoftwarePlatform/rocPRIM/commit/a8c3b1bec3908f1a759a18ae5529064c4e4d0ae3

[2019-06-14 12:50] holyprince commented on #53
OK，thank you very much and sorry to disturb you.

[2019-09-10 17:24] saadrahim opened #100 "Compatability code for hip-clang and C++14"
https://github.com/ROCmSoftwarePlatform/rocPRIM/pull/99 discusses add compatibility code for hip-cland and C++14. This code should be removed when the hip-clang project adds functionality.

[2019-12-06 00:11] #100 closed

[2020-02-26 03:28] yaomingamd opened #125 "HIP_PLATFORM=nvcc, cmake error"
Try to compare performance for MI50 and NVIDIA V100, for AMD system, build and test are successfull, but for NVIDIA system set HIP_PLATFORM=nvcc, CMAKE error
CXX=hipcc cmake -DBUILD_BENCHMARK=ON ..
-- The CXX compiler identification is GNU 7.3.1
-- Check for working CXX compiler: /opt/rocm/bin/hipcc
-- Check for working CXX compiler: /opt/rocm/bin/hipcc -- works
-- Detecting CXX compiler ABI info

[2020-04-07 15:16] saadrahim commented on #125
rocPRIM does not build with nvcc

[2020-04-07 15:16] #125 closed

[2020-04-16 14:32] zjin-lcf opened #152 "Question about intrinsics documentation"
Are there documents on the intrinsics such as __mbcnt_hi and __mbcnt_lo ? It is not clear how some of the intrinsics can be emulated using OpenCL.

Thanks

[2020-04-16 14:39] #152 closed

[2020-08-14 03:03] dragontamer opened #179 "Block_reduce fails to distribute correct answer to all lanes when hipBlockDim > 64"
**Describe the bug**

Block_reduce seems to output incorrect values when hipBlockDim > 64 on my Vega64. There seems to be a bug in distributing the output to other warps. The attached example.cpp provides an easy demonstration of the bug.

The #define for NUM_THREADS provides an easy set of tests for the values 64, 128, 192, and 256. NUM_THREADS == 64 outputs all correct answers. However, 128 only

[2020-08-14 15:59] doctorcolinsmith commented on #179
@dragontamer Thanks for including the sample code.  A developer is now reviewing this report.

[2020-08-17 11:18] ncrkblacksmith commented on #179
@dragontamer

I believe your assumptions about how a block reduction algorithm works within our library (or even CUB) are wrong.

A block reduction algortihm holds the result only on the first thread of the block. This is in fact how it is implemented.

The reason that you think this is incorrect for block sizes of larger than 64 is simply because the warp size is 64 and with block sizes of less t

[2020-08-17 14:15] dragontamer commented on #179
@ncrkblacksmith : If that is the intended use of block_reduction, then it should be documented somewhere.

None of the Doxygen comments indicate that ouput is only valid in lane0. In fact, the documentation here suggests that the answer is distributed to all 256 lanes: https://github.com/ROCmSoftwarePlatform/rocPRIM/blob/develop/rocprim/include/rocprim/block/block_reduce.hpp#L222

[2020-08-17 16:28] doctorcolinsmith commented on #179
We will get the documentation updated in a future release.

[2020-08-25 21:28] rigtorp opened #180 "Invalid use of inline assembly for GFX1010 target"
**Describe the bug**
When building PyTorch the following error is observed:
[code]

I traced this to rocPRIM library:
[code]
If I comment out following lines in:
[code]
The PyTorch build progresses much further, but still fails due to a different code generation issue.

**To Reproduce**

Build PyTorch with ROCm, see https://github.com/ROCmSoftwarePlatform/pytorch/issues/718

**Expected behavior**

[2020-09-01 20:06] doctorcolinsmith commented on #180
We have identified the cause of the failure and are planning a fix.

[2020-09-04 18:02] neon60 commented on #180
Temporary workaround for gfx10+ cards is to disable the DPP usage. If you define the ```ROCPRIM_DISABLE_DPP``` before any rocPRIM (or hipCUB or rocThrust) includes, you can get a working solution.

[2020-09-11 22:36] saadrahim opened #186 "Compiler Build issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install '...' version '...'
2. Run '...' with data '...'
3. See error on logfile '...'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Log-files**
Add *full* logfiles to help explain your problem.

**Environment**
Make sure that RO

[2020-09-11 22:37] saadrahim commented on #186
[](url)

[2020-09-11 22:37] #186 closed

[2020-09-15 16:24] saadrahim commented on #180
PR#184 has a solution to this issue. Please let me know if it is working.

[2020-09-15 18:29] rigtorp commented on #180
@saadrahim No it doesn't fix the issue.

[2020-09-15 18:30] saadrahim commented on #180
Can you confirm that the error message is the same? I was expecting full compilation on navi.

[2020-09-15 18:33] rigtorp commented on #180
Yes:
[code]
Checking the commit log of #184 it only contains some build changes and code reformat. No functionality changes.

[2020-09-15 18:35] saadrahim commented on #180
#184 contains macro guards to change DPP usage. We will continue to look into this.

[2020-09-15 18:40] rigtorp commented on #180
Looks like I checked out #182 since that was the only open PR. Let me try with devel branch instead.

[2020-09-15 20:01] saadrahim commented on #180
I will wait for your feedback then.

[2020-09-16 02:03] rigtorp commented on #180
Yes it builds now!

[2020-09-16 20:40] #180 closed

[2020-09-22 19:15] rigtorp commented on #180
@doctorcolinsmith @saadrahim Could you please raise awareness of the remaining Navi issues likely with rocBLAS. See <https://github.com/ROCmSoftwarePlatform/pytorch/issues/718#issuecomment-694550593>. Sorry for contacting you in this unusual way, but you are the few AMD employees who actually reads ROCM bug reports.

[2020-09-22 19:21] saadrahim commented on #180
I will look into it but have you considered opening an issue in the rocBLAS github site?

[2020-09-22 20:09] rigtorp commented on #180
I want to confirm it first and creat a small repro. Surely there must be someone at AMD who are responsible for standing up pytorch on all AMD gpus? I feel like I have become the AMD pytorch product manager.

[2020-09-22 22:53] rigtorp commented on #180
@saadrahim Also thank you getting the rocPRIM and rocRAND issues fixed!

[2020-11-13 13:27] MathiasMagnus opened #199 "ROCm 3.9.1 fails to compile benchmark_warp_scan"
**Describe the bug**
Compiler crashes when compiling `benchmark_warp_scan` with specific parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Install rocm-dkms version 3.9.1
2. Checkout rocPRIM `develop` at this [commit](https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/fa69a09904e685b1aa236d57c975074e9749108d)
3. Set `HCC_AMDGPU_TARGET` env var to match CMake `AMDGPU_TARGETS`, as

[2020-11-26 00:12] saadrahim commented on #199
Please use the tagged version from 3.9 release. Due to factors beyond my control, develop will not build on publicly available rocm version at the moment.

[2020-11-26 00:17] xuhuisheng commented on #199
I think this issue could be solved after ROCm-4.0 released.

[2020-12-31 09:29] qili93 opened #202 "error: reference to __host__ function 'inclusive_scan<rocprim::default_config, double *, double *, thrust::plus<double>>' in __host__ __device__ function"
**Describe the bug**
A clear and concise description of what the bug is.

error: reference to __host__ function 'inclusive_scan<rocprim::default_config, double *, double *, thrust::plus<double>>' in __host__ __device__ function

**To Reproduce**
Steps to reproduce the behavior:
1. Install '...' version '...'
2. Run '...' with data '...'
3. See error on logfile '...'

Implemented an device function

[2020-12-31 11:39] xuhuisheng commented on #202
it said that you cannot invoke a host only function in a both of host and device valid function. because the outer function maybe run in device environment.

[2021-03-11 16:30] saadrahim commented on #199
This has been fixed in the develop branch

[2021-03-11 16:30] #199 closed

[2021-05-07 14:10] andrewcorrigan opened #223 "Ignoring return value warning"
**Describe the bug**

When building with Clang (ROCM-4.1.0)

[code]

**To Reproduce**
Build with Clang from:
https://github.com/RadeonOpenCompute/ROCm-Device-Libs/archive/rocm-4.1.0.tar.gz
https://github.com/RadeonOpenCompute/llvm-project/archive/rocm-4.1.0.tar.gz

**Expected behavior**
No warnings

**Log-files**
[code]

[2021-05-10 16:55] saadrahim commented on #223
Thanks for reporting the issue. The issue will be triaged soon.

[2021-05-13 12:55] neon60 commented on #202
Tested the function it's working for me with rocm 4.1:
https://github.com/ROCmSoftwarePlatform/rocThrust-tests/pull/8

[2021-05-19 20:07] #179 closed

[2021-05-19 20:08] #223 closed

[2021-05-19 20:11] andrewcorrigan commented on #223
thanks!

[2021-05-19 20:42] #202 closed

[2022-02-14 00:23] throwm8 opened #311 "error: invalid operands to binary expression"
**Describe the bug**
I'm trying to build pytorch with rocm support but I'm getting an error related to rocprim, specifically the file device_scan.hpp

[code]
**To Reproduce**
Trying to build pytorch with rocm support using the variable  PYTORCH_ROCM_ARCH=gfx1030 should trigger this issue.

**Expected behavior**
Pytorch should build without any errors

**Environment**
environment.txt is attached.

[2022-02-14 06:47] Maetveis commented on #311
Hi, can you try with rocm 5.0? https://github.com/pytorch/pytorch/pull/68487 should resolve this above rocm 5.

[2022-02-14 08:13] Maetveis commented on #311
Arch linux is not an officially supported platform please open an issues at https://github.com/rocm-arch/rocm-arch/issues.

But I think https://github.com/rocm-arch/rocm-arch/blob/master/rocm-core/PKGBUILD is the culprit because it is still at 4.5.2.

[2022-02-14 09:59] throwm8 commented on #311
I manually modified rocm-core PKGBUILD and changed the version to 5.0.0, pytorch does seem to detect rocm successfully so there might be another cause.
[code]
I know Arch is not officially supported but is it normal for GCC to complain about a library file like this?

[2022-02-14 10:38] Maetveis commented on #311
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cuda/cub.cuh#L195-L203

The error that the compiler gives is coming from a path that is supposed to be disabled on ROCM above 5.0.
I can't say if the version detection or something else is going astray, but you can try debugging why the preprocessor is not happy.

I don't know exactly what you mean here, but to compile HIP source code yo

[2022-02-14 11:02] throwm8 commented on #311
I see, then it probably has something to with my system being misconfigured in some way like you suggested. This is the cmake configure output before the error.

[code]

USE_ROCM is set and ROCM_VERSION equals 50000 so I don't really have an idea what is going on, admittedly I'm not experienced at all with rocm or pytorch in general but is it normal that cmake is using G++ instead of clang in the

[2022-02-14 14:05] Maetveis commented on #311
I'm not familiar with pytorch but I think it should be hipcc or clang (from the amd llvm repo). You should try setting CXX in the environment to hipcc or /opt/rocm/bin/hipcc if hipcc is not on the PATH.

Other than changing the compiler, no, maybe post this to pytorch.

Unfortunately this is quite common in templated c++ code. You should try looking for messages like: "Note: required from ..." and

[2022-02-15 20:29] throwm8 commented on #311
Thanks for the hints I tried setting CXX hipcc but that caused a build failure as well. From what I can tell GCC is used for CPU related parts and hipcc/rocm's clang is being used for the GPU relevant parts. That probably wasn't the problem

Anyway I did some digging and the piece of code you mentioned was missing in the files I have. I was trying to get the rocm-arch's PKGBUILD for pytorch to wor

[2022-02-15 20:29] #311 closed

[2022-04-24 12:25] DeeptimayeeSethi opened #323 "Please enable two factor authentication in your github account"
@VincentSC;@sbalint98;@Maetveis;@neon60;@mfep;@nolmoonen;@vince-streamhpc

We are going to enforce two factor authentication in (https://github.com/ROCmSoftwarePlatform/) organization on 29th April, 2022 .
Since we identified you as outside collaborator for ROCmSoftwarePlatform organization, you need to enable two factor authentication in your github account else you shall be removed from the orga

[2022-06-14 12:13] v01dXYZ opened #335 "Alternative documentation"
Hello,
I've built an alternative documentation which is a little bit more esthetic than the current one.

Here a preview of it: https://v01dxyz.github.io/rocprim-documentation

Are you interested by this ?

[2022-06-14 16:05] saadrahim commented on #335
Hi ,
Your documentation looks like an improvement over our current versions. Please consider making a pull request if you desire us to incorporate your changes into the official documentation. My initial review suggests that most of your changes can be incorporate after minor adjustments .

[2022-08-17 16:40] imestevez opened #349 "error: no matching function for call to 'ceiling_div'"
I am using the header file "device_vector.h" from the rocThrust library to run a code on a AMD GPU. When I compile the code using hipcc, the next error appears from rocPRIM: /opt/rocm/rocprim/include/rocprim/../../../include/rocprim/device/device_transform_config.hpp:50:9: error: no matching function for call to 'ceiling_div'
        ::rocprim::detail::ceiling_div<unsigned int>(sizeof(Value), size

[2022-08-17 17:10] Maetveis commented on #349
Your first error is probably actually looks like this:

[code]

`hipcc` defaults to c++11 but rocPRIM and by extension rocThrust requires at least C++14, please try with `hipcc -std=c++14`.
The documentation is not explicit on this and rocPRIM could give an explicit error, but I think it should resolve your issue.

[2022-08-17 20:42] imestevez commented on #349
The error is fixed using `-std=c++14 `.
Thank you very much.
Best regards.

[2022-08-17 20:42] #349 closed

[2022-08-29 15:28] #323 closed

[2022-10-08 09:44] klausbu opened #377 "Add support for NAVI22 and NAVI23 i.e. gfx1031 and gfx1032"
NAVI22 and NAVI23 i.e. gfx1031 and gfx1032 is needed for HIP programming/software development using rocThrust on Notebooks as ALL AMD mobile GPUs are NAVI22 or NAVI23 i.e. gfx1031 and gfx1032. rocPRIM is a rocThrust dependency.

The target operating system is RHEL9 = AlmaLinux 9, RockyLinux...

My approach is to develop / adapt / test engineering and scientific software on my Notebook before inves

[2022-11-15 16:26] hokkanen opened #389 "rocPRIM reduction (block_reduce_int) issue"
**Describe the bug**
My simple reduction kernel that uses `block_reduce_int()` produces incorrect results with rocPRIM release branches 4.4+. Release branch 4.3 works fine. The same code compiles and runs fine with HIP on V100 and A100 based NVIDIA systems (CSC Puhti and Mahti supercomputers). I'm not 100% positive it is rocPRIM side issue but looks like it.

**To Reproduce**
Compiling and running

[2022-11-18 13:10] Maetveis commented on #389
In the reproducer on the last block of the launch [`block_reduce` won't be called by all threads in the block][block-reduce-call].

rocPRIM's block *collective* primitives must be called in block-uniform control flow, otherwise they might hang (the block algorithms are allowed to contain `__syncthreads`) or otherwise produce incorrect results.
This applies to CUB as well, so the reproducer probabl

[2022-11-21 07:19] hokkanen commented on #389
Thanks, this indeed fixed the issue. Thanks a lot.

[2022-11-21 07:19] #389 closed